@page "/"
@page "/catalogmovies"
@using WebMovie.Shared
@inject HttpClient Http
@inject IPopularMovieServices popularMovies


<div class="py-5">
    <div class="container">
        @if (showAlert)
        {
            <div class="alert alert-success" role="alert">
                @MovieDetail.title was added successfully to the list!
            </div>
        }
        <div class="row hidden-md-up">
            @foreach (var item in movies)
            {
                var poster = string.Concat("https://image.tmdb.org/t/p/w500", item.poster_path);
                <div class="col-md-4">
                    <div class="cards-deck">
                        <div class="cards" style="width: 18rem; box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);transition: 0.5s;">
                            <div class="card-header">
                                @item.title
                            </div>
                            <a @onclick="@(() => OpenDetailMovie(item))" role="presentation">
                                <img class="cards-img-top" src="@poster" alt="@item.title">
                            </a>
                            <div class="cards-footer">
                                Release Date: @item.release_date
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@if (showModal)
{
    <DetailsMovies titleMovie="@MovieDetail.title" overviewMovie="@MovieDetail.overview" posterMovie="@MovieDetail.poster_path" showAlert="@showAlert" showModal="@showModal"></DetailsMovies>
    <!--<div class="modal fade show" id="myModal" style="display: block; overflow-y: scroll;" aria-modal="true" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">-->

                <!-- Modal Header -->
                <!--<div class="modal-header">
                    <h4 class="modal-title">@MovieDetail.title</h4>
                    <button type="button" class="close" @onclick="@ModalCancel">&times;</button>
                </div>-->

                <!-- Modal body -->
                <!--<div class="modal-body">
                    <img class="cards-img-top" src="@MovieDetail.poster_path" alt="Poster">
                    <p>@MovieDetail.overview</p>
                </div>-->

                <!-- Modal footer -->
                <!--<div class="modal-footer">
                    <button type="button" class="btn btn-info" @onclick="@ModalCancel">Cancel</button>
                    <button type="button" class="btn btn-success" @onclick="@(() => AddToPlaylist(MovieDetail))">Set as favorite</button>
                </div>

            </div>
        </div>
    </div>-->
}


@code {
    List<Result> movies = new List<Result>();
    List<Result> moviesPlaylist = new List<Result>();
    Result MovieDetail = new Result();
    bool showModal = false;
    bool showAlert = false;

    protected override async Task OnInitializedAsync()
    {
        movies = await popularMovies.GetPopularMovies();
    }

    void ModalCancel() => showModal = false;

    public void OpenDetailMovie(Result movie)
    {
        MovieDetail.title = movie.title;
        MovieDetail.overview = movie.overview;
        MovieDetail.poster_path = string.Concat("https://image.tmdb.org/t/p/w500", movie.poster_path);
        showModal = true;
    }

    public void AddToPlaylist(Result movie)
    {
        moviesPlaylist.Add(movie);
        showAlert = true;        
    }
}
