@using WebMovie.Shared
@if (showModal)
{
    <div class="modal fade show" id="myModal" style="display: block; overflow-y: scroll;" aria-modal="true" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">@titleMovie</h4>
                    <button type="button" class="close" @onclick="@ModalCancel">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <img class="cards-img-top" src="@posterMovie" alt="Poster">
                    <p>@overviewMovie</p>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-info" @onclick="@ModalCancel">Cancel</button>
                    <button type="button" class="btn btn-success" @onclick="@(() => AddToPlaylist(MovieDetail))">Set as favorite</button>
                </div>

            </div>
        </div>
    </div>
}

@code {

    List<Result> moviesPlaylist = new List<Result>();
    Result MovieDetail = new Result();

    [Parameter]
    public string titleMovie { get; set; }
    [Parameter]
    public string overviewMovie { get; set; }
    [Parameter]
    public string posterMovie { get; set; }

    [Parameter]
    public bool showModal { get; set; } = false;
    [Parameter]
    public bool showAlert { get; set; } = false;

    protected override async Task OnInitializedAsync()
    {

    }

    void ModalCancel() => showModal = false;

    public void OpenDetailMovie(Result movie)
    {
        titleMovie = movie.title;
        overviewMovie = movie.overview;
        posterMovie = string.Concat("https://image.tmdb.org/t/p/w500", movie.poster_path);
        showModal = true;
    }

    public void AddToPlaylist(Result movie)
    {
        moviesPlaylist.Add(movie);
        showAlert = true;
    }
}
